.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 50px;
    text-align: center;
    color: #41def7;
    background-color: #474747;
}

.main2{
    display: flex;
}

.icon1{
    margin-top: 25px;
    margin-left: 4px;
}

.icon2 {
    animation: pulse 4s infinite linear; /* Animation name, duration, iteration count, and easing function */
}

@keyframes pulse {
    0% {
        opacity: 0.3; /* Starting opacity */
    }
    40% {
        opacity: 1; /* Middle opacity */
    }
    100% {
        opacity: 0.3; /* Ending opacity */
    }
}



@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.green {
    color: #63f2f7; /* Green theme */
  }
  
  .red {
    color: rgb(231, 31, 204); /* Red theme */
  }

.icon-options {
    display: flex;
}

.icon-option {
    font-size: 32px;
    margin-right: 30px;
    cursor: pointer;
    color: white;
}

.icon-option.selected {
    border: 2px solid #ffffff; /* Add border styling */
    border-radius: 0px; /* Keep border radius */
    
}



.options {
    display: flex;
    align-items: center;
    gap: 10px;
}

.options select {
    width: 100px;
    font-size: 16px;
}

.options input[type="range"] {
    width: 100px;
}


#no { 
	height: 36px; 
	width: 80px; 
	font-size: 16px; 
	color: rgb(185, 185, 185); 
	border: 1px solid #afec3f; 
	border-radius: 4px; 
	background-color: #474747; 
} 

#no:focus { 
	outline: none; 
} 

.css-2b097c-container { 
	width: 120px; 
	color: black; 
	background-color: #474747; 
} 

.css-yk16xz-control { 
	background-color: #474747 !important; 
	border-color: #afec3f !important; 
}


@media (max-width:1300px){
    .options{
        display: none;
    }
}